a.new-open-maps-btn,
a.new-open-maps-btn:visited {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 8px;
  background: #3c4043;
  padding: 10px;
  height: 18px;
  color: #bdc1c6;
  opacity: .8;
  text-decoration: none;
}

a.new-open-maps-btn:hover {
  opacity: 1;
  text-decoration: none;
}

a.new-open-maps-btn svg {
  color: #bdc1c6;
  margin-left: 4px;
}