a.new-open-maps-btn,
a.new-open-maps-btn:visited {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 8px;
  background: #3c4043;
  padding: 10px;
  height: 18px;
  color: #bdc1c6;
  opacity: .8;
  text-decoration: none;
}

a.new-open-maps-btn:hover {
  opacity: 1;
  text-decoration: none;
}

a.new-open-maps-btn svg {
  color: #bdc1c6;
  margin-left: 4px;
}

.dynamic-map-img-link {
  cursor: pointer;
  border-radius: 16px;
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 1px;
}

.dynamic-map-img-link:hover {
  background: linear-gradient(to bottom right, #1a73e8 0%,  25%, #34a853 50%, #fbbc04 75%, #ea4335 100%);
  border-image: linear-gradient(to bottom right, #1a73e8 0%,  25%, #34a853 50%, #fbbc04 75%, #ea4335 100%);
  border-image-slice: 1;
}

.dynamic-map-img-link #lu_map {
  max-width: 100%;
  max-height: 100%;
}
